<header>
  <nav class="header-nav group">
    <figure class="logo-box">
      <p class="logo-letter-f">f</p>
      <p class="logo-letter-m">m</p>
    </figure>
    <button>Log out</button>
  </nav>
</header>

<main class="settings">
  <section class="settings-content">
    <h1 class="settings-heading">Settings</h1>
    <section class="settings-details">

      <section class="group">
        <label class="name-label">Name</label>
        <div class="name-details"><%= @user.first_name %> <%= @user.last_name %></div>
      </section>
      <section class="group">
        <label class="email-label">Email</label>
        <div class="email"><%= @user.email %></div>
      </section>


    </section>
  </section>
</main>

<footer class="footer">
  <section class="footer-info">

    <p class="copyright">
      Famebook © 2016
    </p>
  </section>
<!-- Check with TA's to see if "Famebook © 2016" would be legal issue.
    Add an "About" link in the footer leading the user to either
      1. the github ReadME or 2. a new page with similar information.  -->
</footer>



<!-- How do I add other css files to show on the page? -->
