/*
 *= require_tree .
 *= require_self
 *= require font-awesome-4.5.0/css/font-awesome
 */


/* RESET */

html, body, h1, h2, main, figure,
section, h3, h4, a, span, strong, img,
ul, li, ol, p, br, input, form, button,
header, footer, nav, h5, h6 {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;

  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
  box-sizing: border-box;

  background: transparent;
}

body {
  font-family: helvetica;
}

/* CLEAR FIX */

.group:after {
  content: "";
  display: block;
  clear: both;
}

/* HEADER */

.header {
  border-bottom: 1px solid #1c326c;
  color: #ffffff;
  background: -webkit-gradient(linear, center bottom, center top, from(#3a5795), to(#4e69a2));
  height: 84px;
}

.header-nav {
  margin: auto;
  width: 980px;
}

.header-nav-logo {
  float: left;
  display: block;
  padding-top: 30px;
  font-size: 36px;
  font-weight: 600;
}

.header-nav-log-in-form {
  float: right;
  display: inline;
  margin-top: 15px;
}

.header-nav-log-in-form > label {
  float: left;
  display: block;
  margin: 0 13px 5px 1px;
  font-size: 12px;
}

.header-nav-log-in-form input {
  display: block;
  margin: 5px 0 0 0;
  border: 1px solid #1d2a5b;
  padding: 0 3px;
  width: 150px;
  height: 23px;
  color: #000;
  background: #ffffff;
}

.header-nav-log-in-form button {
  margin-top: 20px;
  border-top: 1px solid #8a9cc2;
  border-bottom: 1px solid #1a356e;
  border-left: 1px solid #29447e;
  border-right: 1px solid #29447e;
  padding-bottom: 4px;
  border-style: outset;
  text-align:center;
  width: 50px;
  height: 21px;
  font-size: 12px;
  font-weight: bold;
  background: -webkit-gradient(linear, center bottom, center top, from(#5972a7), to(#637bad));
}

/* CONTENT */

.main {
  border-top: 1px solid #bbbbbc;
  background: -webkit-gradient(linear, center bottom, center top, from(#d3d8e8), to(#ffffff));
  height: 595px;
}

.content {
  margin: auto;
  width: 980px;
}

/* HOMEPAGE INFORMATION - MAIN CONTENT */

.home-info {
  float: left;
  margin: 70px 0 0 0;
  width: 581px;
  color: #333333;
}

.home-info > .main-caption {
  font-size: 28px;
  font-weight: bold;
  line-height: 1.1666666666;
}

.home-info .sub-caption{
  float: left;
  display: block;
  margin: 30px 0 0 0;
  width: 500px;
}

.home-sub-captions {
  margin: 20px 0 0 0;
}

.sub-caption i {
  float: left;
  font-size: 50px;
  color: #adbad4;
}

.home-info  h4 {
  float: left;
  margin: 15px 20px 0 20px;
  font-size: 16px;
  font-weight: bold;
}

.home-info span {
  display: block;
  margin: 16px 0 0 20px;
  color: #666666;
  font-size: 14px;
}


/* SIGN UP FORM - SIDEBAR*/

.sign-up {
  float: left;
  width: 399px;
  /*font-family: 'Freight Sans Bold';*/
}

.sign-up > h1 {
  font-size: 36px;
  font-weight: bold;
  margin: 22px 0 10px 0;
}

.sign-up > h4 {
  margin: 0 0 22px 0;
  font-size: 19px;
}

.sign-up-form {
  color: #999999;
}

.sign-up-form input {
  display: block;
  margin: 10px 0;
  border: 1px solid #bdc7d8;
  border-radius: 5px;
  padding: 10px;
  height: 40px;
  background: #ffffff;
}

.sign-up-form > .names > input {
  display: block;
  width: 194px;
}

.sign-up-form > input {
  display: block;
  width: 400px;
}

.sign-up-form .first-name{
  float: left;
  margin: 0 11px 0 0;
}

.sign-up-form > .button-border {
  box-sizing: content-box;;
  border: 1px solid #2c5115;
  border-radius: 5px;
  width: 191px;
  height: 36px;
}

.sign-up-form button {
  box-sizing: border-box;
  border-top: 1px solid #95d67c;
  width: 191px;
  height: 36px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  background: -webkit-gradient(linear, center bottom, center top, from(#578843), to(#74b960));
}

/* FOOTER */

.footer {

}

.footer-info {
  margin: auto;
  width: 980px;
}

.copyright {
  margin: 20px 0;
  font-size: 14px;
}

/* Get access to 'Freight Sans' (Bold) font on google */

/* sign in error border and error logo color */
/*.input {
  border: 1px solid #b94a48;
}*/
