/*
 *= require_tree .
 *= require_self
 *= require font-awesome-4.5.0/css/font-awesome
 */


/* RESET */

html, body, h1, h2, main, figure,
section, h3, h4, a, span, strong, img,
ul, li, ol, p, br, input, form, button,
header, footer, nav, h5, h6, select {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;

  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
  box-sizing: border-box;

  background: transparent;
}

body {
  font-family: helvetica;
}

li {
  list-style: none;
}

/* CLEAR FIX */

.group:after {
  content: "";
  display: block;
  clear: both;
}

/* ROOT PAGE FOR SINGLE PAGE APP */

main#root {
  background: #e9eaed;
}

/* Get access to 'Freight Sans' (Bold) font on google */

/* sign in error border and error logo color */
/*.input {
  border: 1px solid #b94a48;
}*/
