/* SIDEBAR */

.feed-sidebar-left {
  float: left;
  display: block;
  margin: 0 0 0 6px;
  max-width: 173px;
  width: 100%;
}

.feed-sidebar-left-game {
  margin: 12px 5px 10px 0;
  border-radius: 2px;
}

.feed-sidebar-left-game:hover {
  background: #dcdee3;
}

.feed-sidebar-left-game > img {
  float: left;
  display: block;
  width: 16px;
  height: 16px;
  background: yellow;
  margin: 3px 0 5px 6px;
}

.feed-sidebar-left-game > p {
  display: block;
  float: left;
  padding: 5px 0 2px 6px;
  color: #000000;
  font-size: 12px;
}
