/* FEED MAIN */

.feed {
  margin: auto;
  width: 980px;
  padding: 10px 0 0 0;
}

/* POSTS FEED */

.feed-main {
  display: block;
  float: left;
}

.post {
  background: #ffffff;
  margin: 10px 0 10px 0;
  padding: 10px;
  border-radius: 3px;
  border-top: 1px solid #e5e6e9;
  border-bottom: 1px solid #d0d1d5;
  border-left: 1px solid #dfe0e4;
  border-right: 1px solid #dfe0e4;
  font-size: 14px;
}

.post-header {
  font-weight: bold;
  padding-bottom: 20px;
}

.post-author-name {
  display: inline;
  cursor: pointer;
  color: #3b5998;
}

.post-author-name:hover {
  text-decoration: underline;
}

.delete-post-button {
  color: #AFB4BD;
  cursor: pointer;
  padding: 4px 0 0 0;
  float: right;
}

/* POSTS FORM */

.create-post {
  background: #ffffff;
  margin: 0 0 15px 0;
  border-radius: 3px;
  border-top: 1px solid #e5e6e9;
  border-bottom: 1px solid #d0d1d5;
  border-left: 1px solid #dfe0e4;
  border-right: 1px solid #dfe0e4;
  font-size: 14px;
}

.create-post-input-box {
  display: block;
  border-bottom: 1px solid #DCDEE3;
  padding: 20px 10px;
}

.create-post-input {
  display: block;
  width: 490px;
}

.create-post-button {
  display: block;
  float: right;
  margin: 10px;
  border: 1px solid #3C5488;
  border-radius: 2px;
  padding: 3px 0px;
  width: 60px;
  height: 24px;
  color: white;
  font-size: 12px;
  text-align: center;
  text-shadow: 0 0px 1px #000000;
  cursor: pointer;
  background: -webkit-gradient(linear, center bottom, center top, from(#4D68A3), to(#4D68A3));
}

/* SPECIAL CASES */

.no-posts-message {
  display: block;
  margin: 0 0 15px 0;
  padding: 100px 0 200px 0;
  max-width: 490px;
  border-radius: 3px;
  border-top: 1px solid #e5e6e9;
  border-bottom: 1px solid #d0d1d5;
  border-left: 1px solid #dfe0e4;
  border-right: 1px solid #dfe0e4;
  color: #bbbbbb;
  text-align: center;
  background: #FFFFFF;
}

.first-post-message {
  display: block;
  padding: 30px 0 30px 0;
  border-radius: 3px;
  border-top: 1px solid #e5e6e9;
  border-bottom: 1px solid #d0d1d5;
  border-left: 1px solid #dfe0e4;
  border-right: 1px solid #dfe0e4;
  color: #bbbbbb;
  text-align: center;
  background: #FFFFFF;
}

.first-post-message > i {
  display: block;
  padding: 0 0 10px 0;
  font-size: 50px;
  color: #6e9efa;
}

.first-post-message-text {
  font-size: 20px;
  color: #000000;
}

/* POSTS TRANSITION */

.posts-enter {
  opacity: 0.01;
}

.posts-enter.posts-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.posts-leave {
  opacity: 1;
}

.posts-leave.posts-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

/* How would I change the positioning
    of the posts for different pages? */
