/* FRIENDS */

.friends-main {
  width: 980px;
  margin: auto;
  padding-bottom: 5px;
}

/* FRIEND REQUESTS */

.confirm-friends {
  margin: 20px 0 0 0;
  width: 851px;
  background: #fff;
  border: 1px solid #D3D6DB;
  border-radius: 2px;
  /*padding: 10px;*/
}

.confirm-friends-list-header {
  height: 57px;
  padding: 15px;
  border-bottom: 1px solid #D3D6DB;
  font-size: 24px;
  background: #F6F7F8;
}

.confirm-friends-list-main {
  padding: 15px 0 0 15px;
}

.confirm-friend-photo {
  display: block;
  float: left;
  width: 100px;
  height: 100px;
  background: #D2D5DA;
}

.confirm-friend-box-info {
  float: left;
  margin: 0px 13px 13px 0;
}

.confirm-friend-info {
  float: left;
  display: block;
  position: relative;
  width: 302px;
  height: 100px;
  border-top: 1px solid #e9eaed;
  border-right: 1px solid #e9eaed;
  border-bottom: 1px solid #e9eaed;
  padding: 30px 6px;
}

.confirm-friend-name {
  float: left;
  margin: 9px 0 0 4px;
  display: block;
  color: #3B5998;
  font-weight: bold;
  font-size: 14px;
}

.confirm-friend-info > button {
  float: left;
  margin: 6px 0 0 0px;
  width: 70px;
  padding: 5px 0;
  text-align: center;
  color: #4e5665;
  font-size: 12px;
  font-weight: bold;
  box-shadow: 0 0 1px #000;
}

.accept-friend-button {
  position: absolute;
  right: 90px;
}

.decline-friend-button {
  position: absolute;
  right: 10px;
  color: #9197a3;
}

/* FRIENDS INDEX */

.friends-list {
  margin: 20px 0 20px 0;
  width: 851px;
  border: 1px solid #D3D6DB;
  border-radius: 4px;
  background: #fff;
}

.friends-list-header {
  height: 57px;
  padding: 15px;
  border-bottom: 1px solid #D3D6DB;
  border-radius: 4px 4px 0 0;
  font-size: 24px;
  background: #F6F7F8;
}

.friends-list-main {
  padding: 15px 0 0 15px;
}

.friend-photo {
  display: block;
  float: left;
  width: 100px;
  height: 100px;
  background: #D2D5DA;
}

.friend-box-info {
  float: left;
  display: block;
  width: 402px;
  height: 100px;
  margin: 0px 13px 13px 0;
}

.friend-info {
  float: left;
  display: block;
  width: 302px;
  height: 100px;
  border-top: 1px solid #e9eaed;
  border-right: 1px solid #e9eaed;
  border-bottom: 1px solid #e9eaed;
  padding: 35px 6px;
}

.friend-name {
  left: 10px;
  display: block;
  color: #3B5998;
  font-weight: bold;
  font-size: 14px;
}

.friend-friend-count {
  color: #9197a3;
  font-size: 12px;
}
