main#root {
  background: #e9eaed;
}

.post {
  background: #ffffff;
  width: 510px;
  margin: 10px 20px;
  padding: 15px;
  border-radius: 2px;
  border-top: 1px solid #e5e6e9;
  border-bottom: 1px solid #d0d1d5;
  border-left: 1px solid #dfe0e4;
  border-right: 1px solid #dfe0e4;
  font-size: 14px;
}

.post-header {
  font-weight: bold;
  padding-bottom: 20px;
}

.post-header > .post-header-name {

}

.post-body {

}

Fix Log out. Design Posts. Setup routes for famebook.jsx.

/* How would I change the positioning
    of the posts for different pages? */
