
/* HEADER */


.header {
  border-bottom: 1px solid #1c326c;
  height: 84px;
  color: #ffffff;
  background: -webkit-gradient(linear, center bottom, center top, from(#3a5795), to(#4e69a2));
}

.header-nav {
  margin: auto;
  max-width: 980px;
}

.header-nav-logo {
  float: left;
  display: block;
  padding-top: 30px;
  font-size: 36px;
  font-weight: 600;
}

.header-nav-buttons {
  float: right;
}

.header-nav-buttons > form {
  float: left;
}


/* GUEST LOGIN BUTTON */


.header-nav-guest-login {
  float: left;
  margin: 29px 25px 0px 279px;
}

.guest-login-button {
  display: block;
  border-top: 1px solid #8a9cc2;
  border-bottom: 1px solid #1a356e;
  border-left: 1px solid #29447e;
  border-right: 1px solid #29447e;
  padding: 5px;
  /*color: #FFFFFF;*/
  color: #637bad;
  font-size: 12px;
  font-weight: bold;
  text-align:center;
  cursor: pointer;
  background: #F0F990;
  /*background: -webkit-gradient(linear, center bottom, center top, from(#5972a7), to(#637bad));*/
}

.header-nav-log-in-form {
  display: inline;
  margin-top: 15px;
}

.header-nav-log-in-form > label {
  float: left;
  display: block;
  margin: 0 13px 5px 1px;
  font-size: 12px;
}

.header-nav-log-in-form input {
  display: block;
  margin: 5px 0 0 0;
  border: 1px solid #1d2a5b;
  padding: 0 3px;
  width: 150px;
  height: 23px;
  color: #000;
  background: #ffffff;
}

.header-nav-log-in-form button {
  margin-top: 20px;
  border-top: 1px solid #8a9cc2;
  border-bottom: 1px solid #1a356e;
  border-left: 1px solid #29447e;
  border-right: 1px solid #29447e;
  padding-bottom: 4px;
  width: 50px;
  height: 21px;
  font-size: 12px;
  font-weight: bold;
  text-align:center;
  cursor: pointer;
  background: -webkit-gradient(linear, center bottom, center top, from(#5972a7), to(#637bad));
}


/* MAIN CONTENT */


.main {
  border-top: 1px solid #bbbbbc;
  height: 608px;
  background: #EDF0F5;
  /*background: -webkit-gradient(linear, center bottom, center top, from(#d3d8e8), to(#ffffff));*/
}

.content {
  margin: auto;
  max-width: 980px;
}


/* HOMEPAGE INFORMATION - LEFT HALF */


.home-info {
  float: left;
  margin: 70px 0 0 0;
  width: 580px;
  color: #333333;
}

.home-info > .main-caption-container {
  max-width: 450px;
}

.home-info .main-caption {
  font-size: 28px;
  font-weight: bold;
  line-height: 1.1666666666;
}

.home-info .sub-caption{
  display: block;
  margin: 25px 0 0 0;
  height: 50px;
}

.home-sub-captions {
  margin: 20px 0 0 0;
}

.home-sub-captions:first-child {
  margin: 30px 0 0 0;
}

.sub-caption i {
  float: left;
  font-size: 50px;
  color: #adbad4;
  text-shadow: 0 0.5px 1px #3a5795;
}

.fa-user-home {
  float: left;
  margin: 0 7px 0 7px;
  font-size: 50px;
  color: #adbad4;
}

.fa-envelope {
  float: left;
  margin: 0 2px 0 2px;
  font-size: 50px;
  color: #adbad4;
}

.home-info h4 {
  float: left;
  margin: 15px 20px 0 20px;
  font-size: 16px;
  font-weight: bold;
}

.home-info span {
  display: block;
  margin: 0 0 0 20px;
  color: #666666;
  font-size: 14px;
}

.home-info span > a {
  display: inline-block;
  margin: 16px 0 0 0;
}


/* SIGN UP FORM - RIGHT HALF */

.responsive-log-in {
  display: none;
}

.sign-up {
  float: left;
  max-width: 400px;
  /*font-family: 'Freight Sans Bold';*/
}

.sign-up > h1 {
  margin: 22px 0 10px 0;
  font-size: 36px;
  font-weight: bold;
}

.sign-up > h4 {
  margin: 0 0 22px 0;
  font-size: 19px;
}

::-webkit-input-placeholder {
  color: #999999;
}

.first-name, .last-name, .email, .password {
  display: block;
  margin: 10px 0;
  border: 1px solid #bdc7d8;
  border-radius: 5px;
  padding: 10px;
  height: 39px;
  font-size: 18px;
  background: #ffffff;
}

.birthday-title {
  margin: 0 0 5px 0;
  font-size: 18px;
}

.birthday-select > select {
  display: block;
  float: left;
  border: rgb(166, 166, 166) 1px solid;
  height: 30px;
  font-size: 12px;
  background: #ffffff;
}

.gender > li {
  float: left;
  margin: 20px 0 20px 10px;
  /*width: 100px;*/
}

.gender p {
  float: left;
  margin: 22px 5px 20px 0;
  font-size: 12px;
}

.gender input {
  display: block;
}

.gender p {
  padding: 0 0 0 5px;
}

.sign-up-form > .names > input {
  display: block;
  width: 194px;
}

.sign-up-form > input {
  display: block;
  width: 400px;
}

.sign-up-form .first-name{
  float: left;
  margin: 0 12px 0 0;
}

.sign-up-form > .button-border {
  box-sizing: content-box;
  border: 1px solid #2c5115;
  border-radius: 5px;
  width: 191px;
  height: 36px;
}

.sign-up-form button {
  box-sizing: border-box;
  border-top: 1px solid #95d67c;
  width: 191px;
  height: 36px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  background: -webkit-gradient(linear, center bottom, center top, from(#578843), to(#74b960));
}

/* FOOTER */

.footer-info {
  margin: auto;
  max-width: 980px;
  font-size: 12px;
}

.footer-info > p {
  display: block;
  color: #7A7A7A;
  font-size: 10px;
}

.footer-info > a {
  display: block;
  margin: 15px 0 10px 0;
  color: #3B5998;
  cursor: pointer;
}

.footer-info i {
  display: none;
}

.about:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 501px) and (max-width: 770px) {

  .header {
    height: auto;
    font-family: sans-serif;
  }

  .header-nav-logo {
    margin: 0 0 10px 19px;
    padding-top: 10px;
    font-size: 40px;
  }

  .guest-login-button {
    font-size: 19px;
    padding: 7px;
  }

  .empty-section {
    max_width: 100px;
  }

  .header-nav-guest-login {
    float: right;
    margin: 14px 19px 0 0;
  }

  .header-nav-buttons {
    display: none;
  }

  .header-nav-log-in-form {
    margin-top: 40px;
  }

  .header-nav-log-in-form > label {
    /*display: inline-block;*/
    float: none;
    margin: auto;
    font-size: 18px;
    padding: 0px 0 15px 0;
    max-width: 250px;
    color: #111;
  }

  .header-nav-log-in-form > label > p {
    margin: auto;
  }

  .header-nav-log-in-form button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    color: #fff;
    width: 20%;
    height: 30px;
    font-size: 16px;
    padding-bottom: initial;
  }

  .header-nav-log-in-form input {
    margin: auto;
    width: 100%;
    height: 33px;
  }

  .content {
    max-width: 450px;
    padding: 25px 0 0 0;
    width: auto;
    font-family: sans-serif;
    color: #222;
  }

  .home-info {
    display: none;
  }


  /* LOG IN / SIGN UP */


  .responsive-log-in {
    display: block;
  }

  .sign-up {
    float: none;
    margin: auto;
    max-width: 250px;
  }

  .sign-up > h1 {
    margin: 20px 0 0 0;
    font-size: 30px;
    text-align: center;
  }

  .sign-up > h4 {
    display: none;
    margin: 15px 0 0 0;
    font-size: 20px;
    text-align: center;
  }

  .sign-up-form {
    margin: auto;
    padding: 15px 0 0 0;
    font-size: 18px;
  }

  .sign-up-form > .names > input {
    margin: auto;
    width: 100%;
  }

  .sign-up-form > input {
    max-width: 250px;
    width: 100%;
    margin: auto;
  }

  .sign-up-form .first-name {
    float: none;
  }

  .first-name, .last-name, .email, .password {
    font-size: 16px;
  }

  .birthday-title {
    margin: 10px 0;
    text-align: center;
    font-size: 21px;
  }

  .birthday-select {
    margin: auto;
    width: 208px;
  }  

  .birthday-select > select {
    font-size: 15px;
  }

  .gender {
    margin: auto;
    width: 165px;
  }

  .gender > p {
    margin: 20px 5px 20px 0;
    padding: 0 0 0 7px;
    font-size: 15px
  }

  .sign-up-form > .button-border {
    margin: auto;
  }

  .footer {
    text-align: center;
    font-family: sans-serif;
  }

  .footer-info > a {
    display: inline-block;
    margin: 15px 10px 10px 10px;
  }

  .footer-info i {
    display: inline;
  }

  .copyright {
    margin: 15px 0;
  }
}

@media only screen and (max-width: 500px) {

  .header {
    height: 55px;
    font-family: sans-serif;
  }

  .header-nav-logo {
    margin: 0 0 0 25px;
    padding-top: 10px;
    font-size: 30px;
  }

  .empty-section {
    max_width: 100px;
  }

  .header-nav-guest-login {
    float: right;
    margin: 14px 25px 0 0;
  }

  .header-nav-buttons {
    display: none;
  }

  .header-nav-log-in-form {
    margin-top: 40px;
  }

  .header-nav-log-in-form > label {
    /*display: inline-block;*/
    float: none;
    margin: auto;
    padding: 0px 0 15px 0;
    width: 150px;
    color: #111;
  }

  .header-nav-log-in-form > label > p {
    margin: auto;
  }

  .header-nav-log-in-form button {
    display: block;
    margin: auto;
    color: #fff;
  }

  .header-nav-log-in-form input {
    margin: auto;
  }

  .content {
    max-width: 200px;
    padding: 25px 0 0 0;
    width: auto;
    font-family: sans-serif;
  }

  .home-info {
    display: none;
  }


  /* LOG IN / SIGN UP */


  .responsive-log-in {
    display: block;
  }

  .sign-up {
    float: none;
    max-width: 414px;
  }

  .sign-up > h1 {
    margin: 15px 0 0 0;
    font-size: 20px;
    text-align: center;
  }

  .sign-up > h4 {
    display: none;
    margin: 15px 0 0 0;
    font-size: 20px;
    text-align: center;
  }

  .sign-up-form {
    margin: auto;
    padding: 15px 0 0 0;
    font-size: 16px;
  }

  .sign-up-form > .names > input {
    margin: auto;
    width: auto;
    max-width: 250px;
  }

  .sign-up-form > input {
    width: auto;
    max-width: 414px;
    margin: auto;
  }

  .sign-up-form .first-name {
    float: none;
  }

  .first-name, .last-name, .email, .password {
    font-size: 16px;
  }

  .birthday-title {
    margin: 5px 0;
    text-align: center;
  }

  .birthday-select {
    margin: auto;
    width: 155px;
  }

  .gender {
    margin: auto;
    width: 135px;
  }

  .gender > li:first-child {
  }

  .sign-up-form > .button-border {
    margin: auto;
  }

  .footer {
    text-align: center;
    font-family: sans-serif;
  }

  .footer-info > a {
    display: inline-block;
    margin: 15px 10px 10px 10px;
  }

  .footer-info i {
    display: inline;
  }

  .copyright {
    margin: 15px 0;
  }
}
