/* PROFILE */


.profile {
  width: 980px;
  margin: auto;
}


/* HEADER */


.profile-header {
  position: relative;
  /*margin: 0 0 16px 0;*/
  border-radius: 4px;
  width: 850px;
  height: 360px;
}

.profile-header-photo {
  background: #000;
  height: 313px;
  width: 850px;
}

.profile-header-photo > img {
  width: 100%;
  height: 100%;
}

.profile-user-photo {
  display: block;
  position: absolute;
  bottom: 16px;
  left: 16px;
  border: 4px solid #fff;
  border-radius: 2px;
  background: #D2D5DA;
  width: 160px;
  height: 160px;
  box-shadow: 0 0 2px #000;
}

.profile-user-photo > img{
  width: 100%;
  height: 100%;
}

.profile-username {
  display: block;
  position: absolute;
  bottom: 60px;
  left: 193px;
  font-size: 24px;
  color: #FFF;
}


/* FRIEND REQUEST BUTTONS */


.profile-header > button {
  display: block;
  border-radius: 2px;
  padding: 5px 10px;
  box-shadow: 0 0 1px #000;
  text-align: center;
  color: #4e5665;
  font-size: 13px;
  cursor: pointer;
  background: #fff;
}

.profile-accept-friend-request-button {
  position: absolute;
  right: 113px;
  bottom: 70px;
}

.profile-friend-request-button {
  position: absolute;
  right: 25px;
  bottom: 70px;
}


/* NAVIGATION TABS*/


.profile-header > .profile-nav {
  display: block;
  border-left: 1px solid #d3d6db;
  border-bottom: 1px solid #d3d6db;
  border-right: 1px solid #d3d6db;
  border-radius: 0 0 4px 4px;
  box-sizing: border-box;
  background: #FFF;
  width: 850px;
  height: 47px;
  text-align: center;
}

.profile-nav > ul {
  float: right;
  margin: auto;
  color: #3B5998;
  font-weight: bold;
  font-size: 14px;
}

.profile-nav > ul > li {
  float: left;
  /*border-left: 1px solid #e9eaed;*/
}

.profile-nav > ul > li > a {
  display: block;
  padding: 15px 17px;
  cursor: pointer;
  border-left: 1px solid #e9eaed;
}

.profile-nav > ul > li:hover {
  background: #f6f7f8;
}

.profile-nav-photos {
  margin: 0 396px 0 0;
  border-right: 1px solid #e9eaed;
}


/* PROFILE MAIN CONTENT */


.profile-content > section {
  display: block;
  float: left;
}

.profile-content {
  padding: 16px 0 0 0;
}

.profile-content-left {
  display: block;
  width: 338px;
}

.profile-content-right {
  width: 512px;
}


/* INTRO BOX */


.intro {
  width:  323px;
  /*height: 106px;*/
  border-radius: 3px;
  border-top: 1px solid #e5e6e9;
  border-bottom: 1px solid #d0d1d5;
  border-left: 1px solid #dfe0e4;
  border-right: 1px solid #dfe0e4;
  padding: 11px 10px 5px 14px;
  font-size: 12px;
  background: #fff;
}

.intro > header {
  margin: 0 0 15px 0;
  font-size: 16px;
}

.intro > header > i {
  float: left;
  font-size: 26px;
  color: #4267B2;
}

.intro > header > p {
  float: left;
  margin: 5px 0 0 11px;
}

.intro-content i {
  font-size: 12px;
  color: #A5A9B3;
}

.intro-content > ul {
  margin: 0 0 10px 0;
}

.intro-content > ul > li {
  float: left;
}

.intro-birthday > li > p {
  margin: 0 0 0 12px;
}

.intro-gender > li > p {
  margin: 0 0 0 15px;
}


/* LEFT FOOTER */


.profile-content-left-footer {
  margin: 0 0 0 10px;
  padding: 0 0 30px 0;
  color: #9997A3;
  text-shadow: 0 1px 0 #ffffff;
  font-size: 12px;
}

.profile-content-left-footer > a {
  display: inline-block;
  padding: 15px 0 3px 0;
}

.profile-content-left-footer > a:hover {
  text-decoration: underline;
}

.profile-copyright {
  display: block;
}


/* RIGHT FOOTER */


.profile-content-right-footer {
  padding: 17px 0 60px 0;
  color: #9DB1CC;
  font-size: 11px;
  text-align: center;
  text-shadow: 0 -0.5px 0.5px #000000;
}


/* FIND THE CSS STYLING FOR POSTS IN feed_main.css */
