/*
 *= require_tree .
 *= require_self
 *= require font-awesome-4.5.0/css/font-awesome
 */

/* RESET */

html, body, h1, h2, main, figure,
section, h3, h4, a, span, strong, img,
ul, li, ol, p, br, input, form, button,
header, footer, nav, h5, h6 {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;

  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
  box-sizing: border-box;

  background: transparent;
}

body {
  font-family: helvetica;
}

/* CLEAR FIX */

.group:after {
  content: "";
  display: block;
  clear: both;
}

/* HEADER */

.settings-header {
  border-bottom: 1px solid #1c326c;
  height: 44px;
  color: #ffffff;
  background: -webkit-gradient(linear, center bottom, center top, from(#3b5998), to(#4e69a2));
}

.settings-header > .header-nav {
  width: 980px;
}

.settings-header .logo-box {
  float: left;
  display: block;
  position: relative;
  margin: 10px 2px;
  border: 1px solid #3a548c;
  border-radius: 3px;
  width: 24px;
  height: 24px;
  font-size: 25px;
  text-align: center;
  background: #ffffff;
}


.settings-header .logo-letter-f {
  display: block;
  position: absolute;
  top: 0px;
  left: 2px;
  color: #44619d;
  font-weight: bold;
}

.settings-header .logo-letter-m {
  display: block;
  position: absolute;
  top: 8px;
  left: 5px;
  color: #44619d;
  font-size: 16px;
  font-weight: bold;
}

.settings-header .button {
  float: right;
  display: block;
  margin-top: 10px;
  border-top: 1px solid #8a9cc2;
  border-bottom: 1px solid #1a356e;
  border-left: 1px solid #29447e;
  border-right: 1px solid #29447e;
  padding-bottom: 4px;
  width: 50px;
  height: 21px;
  font-size: 12px;
  font-weight: bold;
  text-align:center;
  background: -webkit-gradient(linear, center bottom, center top, from(#637bad), to(#5972a7));
}

/* SETTINGS CONTENT */

.settings-content {
  margin: auto;
  border: 1px solid #cccccc;
  padding: 20px;
  width: 980px;
  height: 620px;
}

.settings-heading {
  padding: 0 0 20px 0;
  font-size: 20px;
  font-weight: bold;
}

.settings-details > section:first-child {
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #cccccc;
}

.settings-details > section:last-child {
  border-bottom: 1px solid #aaaaaa;
}

.settings-details > section {
  border-bottom: 1px solid #cccccc;
  padding: 10px;
  font-size: 12px;
}

.settings-details label {
  float: left;
}

.settings-details div {
  float: left;
  display: block;
  margin-left: 60px;
  font-weight: bold;
}

/* FOOTER */

.footer-info {
  margin: auto;
  width: 980px;
}

.copyright {
  margin: 20px 0;
  font-size: 14px;
}
