/* SETTINGS CONTENT */

.settings-content {
  margin: auto;
  border: 1px solid #cccccc;
  padding: 20px;
  width: 980px;
  height: 620px;
}

.settings-heading {
  padding: 0 0 20px 0;
  font-size: 20px;
  font-weight: bold;
}

.settings-details > section:first-child {
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #cccccc;
}

.settings-details > section:last-child {
  border-bottom: 1px solid #aaaaaa;
}

.settings-details > section {
  border-bottom: 1px solid #cccccc;
  padding: 10px;
  font-size: 12px;
}

.settings-details label {
  float: left;
}

.settings-details div {
  float: left;
  display: block;
  margin-left: 60px;
  font-weight: bold;
}

/* FOOTER */

.footer-info {
  margin: auto;
  width: 980px;
}

.copyright {
  margin: 20px 0;
  font-size: 14px;
}
