<!DOCTYPE html>
<html>
<head>
  <title>Famebook</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>


<section>
  <section className="confirm-friends">

  </section>

  <section className="friends-list">
    <header className=friends-list-header>Friends</header>
    <main className="friends-list-main">
      <section className="friend-box">
        <figure className="friend-photo"></figure>
        <span className="friend-name"></span>
        <h6 className="friend-friend-count"></h6>
      </section>
    </main>
  </section>
</section>
